.titulo_h1{
   background-image: url(../images/sc1.png);
   height: 300px;
   width: auto;
    justify-content: center;
    text-align: center;
    background-position: center;
    display: block;
}

.letra{
    font-family: 'Times New Roman';
}

h2{
    text-align: center;
    font-family: 'Times New Roman';
}

.grid__container{
    display: grid;
    grid-template-rows: ;
    grid-template-areas:"uno"
                        "dos"
                        "tres";
    align-items: center;
    justify-content: center;

    
}

.grid-item1{
    grid-area: uno;

}

.grid-item2{
    grid-area: dos;

}

.grid-item3{
    grid-area: tres;

}


.messi{
    height: 540px;
    width: 960px;
}

.toro{
    height: 540px;
    width: 960px;
}

.fideo{
    height: 540px;
    width: 960px;
}

.lista{
    padding: 10px;
}

/* 
.flex__index{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.grid__index{
    display: grid;
    grid-area: "uno dos tres"
                "cuatro cinco seis";
}

.index--item1{
    grid-area: uno;
    }
    
    .index--item2{
        grid-area: dos;
    }
    .index--item3{
        grid-area: tres;
    }
    .index--item4{
        grid-area: cuatro;
    }
    .index--item5{
        grid-area: cinco;
    }
    .index--item6{
        grid-area: seis;
    }
    .index--item7{
        grid-area: siete;
    }
    .index--item8{
        grid-area: ocho;
    }
    .index--item9{
        grid-area: nueve;
    }
    .index--item10{
        grid-area: diez;
    }
    .index--item11{
        grid-area: once;
    }
    .index--item12{
        grid-area: docec;
    }
    .index--item13{
        grid-area: trece;
    }
    .index--item14{
        grid-area: catorce;
    }
    .index--item15{
        grid-area: quince;
    }
    .index--item16{
        grid-area: dieciseis;
    }
    .index--item17{
        grid-area: diecisiete;
    }
    .index--item18{
        grid-area: dieciocho;
    }


footer{
    background-color: rgb(230, 230, 230)
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
